
@mixin Flex($flexdirection,$wrap,$justify,$align){
    display: flex;
    flex-flow: $flexdirection $wrap;
    justify-content: $justify;
    align-items: $align;
}

*{ 
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
 #root{
  @include Flex(column,wrap,center,center);
  height: 100vh;
  width: 100vw;
  background: rgb(255, 255, 96);
  .Forms{
    @include Flex(column,wrap,flex-start,center);
    background-color: rgba(242,242,65,.974);
    height: 100vh;
  width: 100vw;
    nav{
    @include Flex(row,wrap,flex-end,center);
    width: 100vw;
    height: 5vh;
    button{
    border-style: dashed;
    height: 100%;
    width: 10%;
    }}
    .Title{
    @include Flex(column,wrap,center,center);
    height: 30vh;
    width: 100vw;
        h1{
        color: #fff;
        font-size: 3em;
        border-bottom: 1em;
        z-index: 1;
        text-shadow: .5px 2px #000;
        }
        svg{
        position: absolute;
        pointer-events: none;
        }
    }
    .Form{
        @include Flex(column,wrap,center,center);
        width: inherit;
        height: 30%;
        form{
        @include Flex(column,wrap,center,center);
        height: 60%;
        width: 30%;
            .user{
                width: 40%;
            }
            .pass{
                width: 40%;
            }
       }
        }
    }
 .Game{
    @include Flex(column,wrap,flex-start,center);
    height: inherit;
    width: inherit;
    .top{
        @include Flex(row,wrap,center,center);
        width: 100%;
        height: 5%;
        .userInfo{
        @include Flex(column,wrap,center,center);
        width: 90%;
        height: 90%;
            .user{
                width: inherit;
                height: 100%;
                @include Flex(row,wrap,space-around,center);
                .name{
                    box-shadow: 0px 4px 10px rgb(140, 123, 56);
                    border-radius: 5%;
                    width: 20%;
                    height: 100%;
                    text-align: center;
                    line-height: 2.25;

                }
                .Wins{
                    box-shadow: 0px 4px 10px rgb(140, 123, 56);
                    border-radius: 5%;
                    width: 20%;
                    height: 100%;
                    text-align: center;
                    line-height: 2.25;
                }
                .Games{
                    box-shadow: 0px 4px 10px rgb(140, 123, 56);
                    border-radius: 5%;
                    width: 20%;
                    height: 100%;
                    text-align: center;
                    line-height: 2.25;
                }
            }
        }
        .logout{
        width: 10%;
        }
    }
    .mid{
        @include Flex(row,wrap,space-between,center);
        width: 100%;
        height: 75%;
        .record{
            @include Flex(column,wrap,center,center);
            height: 12.5%;
            width: 10%;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
            .records{
                @include Flex(row,wrap,space-evenly,center);
                width: 100%;
                height: 30%;
                .back{
                    height: 100%;
                    width: 20%;
                    border-style: none
                }  
                .forward{
                    height: 100%;
                    width: 25%;
                    border-style: none
                }
            }
        }
        .Coin{
            @include Flex(row,wrap,center,center);
            height: 50%;
            width: 50%;
            .coin{
                position: relative;
                border-radius: 50%;
                background-color: gold;
                height: 300px;
                width: 295px;
                text-align: center;
                line-height: 15;
                border: 2px solid rgb(117, 117, 117);
                @media only screen and (max-width:1300px) {
                height: 25vh;
                width: 23.25vw;
                
                }
                
            }
            .flip{
                    animation: flipcoin .5s infinite;
                }
        }
        .LB{
            height: 25%;
        }
    }
    .bottom{
        @include Flex(row,wrap,center,center);
        width: 100%;
        height: 7.5%;
        .buttons{
            @include Flex(row,wrap,space-evenly,center);
            width: 25%;
            height: 75%;
            .Heads{
                border-style: none;
                box-shadow: 0px 4px 10px rgb(140, 123, 56);
                border-radius: 5%;
                width: 33%;
                height: 100%;
                text-align: center;
                line-height: 2.25;
            }   
            .Tails{
                border-style: none; 
                box-shadow: 0px 4px 10px rgb(140, 123, 56);
                border-radius: 5%;
                width: 33%;
                height: 100%;
                text-align: center;
                line-height: 2.25;
            }
        }
    }
 }
 } 

 
 }

@keyframes flipcoin {
    0%{
        transform: rotate3d(0, 0, 0, 0deg);
    }   
    50%{
        transform: rotate3d(1, 0, 0, 180deg);
    }
    100%{
        transform: rotate3d(1, 0, 0, 0deg);
    }
}